@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Texturina', serif;
}


body {
  background-image: linear-gradient(#104c91, #1f8ac0);
  background-repeat: no-repeat;
  min-height: 100vh;
}

nav {
  display: flex;
  background-color: #5e001f;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  color: #00e1d9;
}

#add-book {
  background: none;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  margin: 1.2em;
  margin-right: 2em;
}

#add-book:hover {
  background-color: black;
}

.plus {
  width: 30px;
  vertical-align: middle;
}

.heading {
  padding: 25px;
  font-size: 2em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}


.card {
  background-color: #5b0e2d;
  height: 400px;
  width: 290px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #ff8781;
}

#delete {
  background-color: rgb(194, 27, 27);
  border-radius: 0;
  border: none;
  width: 100%;
  padding: 10px;
}

#delete:hover {
  background-color: rgb(255, 11, 11);
}

#read {
  background-color: #f2bc94;
  color: #30110d;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
}

#read:hover {
  color: #f2bc94;
  background-color: #722620;
}

.info-text {
  font-size: 2em;
  margin: 5px;
}

#rating {
  width: 25%;
  text-align: center;
  margin: 10px;
  background-color: palegreen;
  border: 1px solid palegreen;
}